---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ijsbeer">
  <main>
    <section id="home">
      <div class="container p-5 animate__animated animate__fadeInDown">
        <div class="row vs mt-5 mb-5">
          <div class="col-md-5 p-4">
            <span>Hi! I'm</span>
            <h1 class="fw-bold">ijsbeer</h1>
            <h1 class="fw-bold">Web Developer</h1>
            <p>
              What's up? I'm ijsbeer, a frontend developer. I enjoy creating
              websites and put alot of time into my projects. I'm very
              passionate about my work - check it below.
            </p>
            <div class="btn-group">
              <a class="btn btn-primary" href="#works">My Work</a>
              <a class="btn btn-outline-secondary" href="#contact">Hire Me</a>
            </div>
          </div>
          <div class="col-md-7 p-4 text-end">
            <button
              type="button"
              class="bg-transparent border-0 p-3"
              data-bs-container="body"
              data-bs-toggle="popover"
              data-bs-placement="top"
              data-bs-content="Hello! 👋"
            >
              <img
                src="/img/logo.jpg"
                class="logo img-fluid rounded-5 js-tilt"
                width="400"
                height="400"
                alt="Artwork"
                data-tilt
                data-tilt-max="15"
              />
            </button>
          </div>
        </div>
      </div>
    </section>
    <section id="stats" class="animate__animated animate__fadeIn">
      <div class="container p-5">
        <div class="row text-center">
          <div
            class="col-lg-3 col-md-6 animate__animated animate__fadeInUp animate__delay-1s"
          >
            <h2 class="fw-bold count1">5+</h2>
            <h4>Years Experience</h4>
          </div>

          <div
            class="col-lg-3 col-md-6 animate__animated animate__fadeInDown animate__delay-1s"
          >
            <h2 class="fw-bold count2">20+</h2>
            <h4>Projects Made</h4>
          </div>

          <div
            class="col-lg-3 col-md-6 animate__animated animate__fadeInUp animate__delay-1s"
          >
            <h2 class="fw-bold count2">15+</h2>
            <h4>Websites Created</h4>
          </div>

          <div
            class="col-lg-3 col-md-6 animate__animated animate__fadeInDown animate__delay-1s"
          >
            <h2 class="fw-bold count3">10+</h2>
            <h4>Happy Clients</h4>
          </div>
        </div>
      </div>
    </section>

    <section
      id="works"
      class="animate__animated animate__fadeIn animate__delay-2s"
    >
      <div class="container p-5 text-center splide rounded-5 mb-5">
        <h1 class="fw-bold">Works</h1>
        <p class="lead">Click on the image to view the full website.</p>
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <a href="http://boss-studio.org" target="_blank">
                <img
                  src="/img/works/boss.webp"
                  alt="Boss Studio"
                  class="img-fluid rounded-5 p-3"
                />
              </a>
            </li>
            <li class="splide__slide">
              <a href="http://pchulphengelo.netlify.app" target="_blank">
                <img
                  src="/img/works/pchulp.webp"
                  alt="PcHulp"
                  class="img-fluid rounded-5 p-3"
                />
              </a>
            </li>
            <li class="splide__slide">
              <a href="http://cytrix.wtf" target="_blank">
                <img
                  src="/img/works/cytrix.webp"
                  alt="PcHulp"
                  class="img-fluid rounded-5 p-3"
                />
              </a>
            </li>
            <li class="splide__slide">
              <a href="http://wawa.lol" target="_blank">
                <img
                  src="/img/works/wawa.webp"
                  alt="PcHulp"
                  class="img-fluid rounded-5 p-3"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section
      id="testimonials"
      class="animate__animated animate__fadeIn animate__delay-3s"
    >
      <div class="container p-5">
        <div class="row justify-content-center">
          <h1 class="fw-bold text-center">Testimonials</h1>
          <p class="lead text-center">See what my clients think about me!</p>
          <div class="col-lg-4 col-md-12 p-3 d-flex flex-column">
            <p>
              “ijsbeer is your go-to developer if you need a web developer! I
              have been working with him for years now, his work never
              disappoints and he's a really professional guy.”
            </p>
            <p class="fw-bold">-Kudasai</p>
          </div>

          <div class="col-lg-4 col-md-6 p-3 d-flex flex-column">
            <p>
              “I contacted ijsbeer for my project, he was happy to start and has
              created the site within 1 day! He listened to every single request
              I asked for and was very quick to apply changes. For a fast and
              reliable worker, this is your guy!”
            </p>
            <p class="fw-bold">-Xury</p>
          </div>

          <div class="col-lg-4 col-md-6 p-3 d-flex flex-column">
            <p>
              “Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
              reiciendis neque earum temporibus deserunt laborum reprehenderit
              in blanditiis rem, quibusdam perspiciatis velit soluta. Ipsum a
              delectus incidunt nesciunt et natus!”
            </p>
            <p class="fw-bold">-Person</p>
          </div>
        </div>
      </div>
    </section>
    <section
      id="contact"
      class="animate__animated animate__fadeIn animate__delay-4s"
    >
      <div class="container p-5">
        <div class="row vs2">
          <div class="col-md-8">
            <h1 class="fw-bold">Let's get in touch</h1>
            <p class="lead">Need a static website? I'm your guy.</p>
            <a class="btn btn-warning btn-lg mb-3"
              ><i class="bi bi-discord me-2"></i>ijsbeer#0001</a
            >
            <a
              class="btn btn-danger btn-lg mb-3"
              href="http://twitter.com/ijsbeer_dev"
              target="_blank"><i class="bi bi-twitter me-2"></i>ijsbeer_dev</a
            >
          </div>
          <div class="col-md-4">
            <img
              src="/img/logo.jpg"
              class="img-fluid rounded-5 logo mb-3 mt-3"
              width="300"
              height="300"
            />
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="/js/splide.js" is:inline></script>
  <script src="/js/clipboard.js" is:inline></script>
  <script>
    import { Splide } from "@splidejs/splide";

    document.addEventListener("DOMContentLoaded", function () {
      var splide = new Splide(".splide", {
        type: "fade",
      });

      splide.mount();
    });
  </script>
  <script>
    import ClipboardJS from "clipboard";
    new ClipboardJS(".btn");
  </script>
</Layout>
